.btn {
    width: 215px;
    height: 60px;
    border: none;
    border-radius: 10px;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
}

.header {
    background-color: rgba(255, 113, 67, 0.27);
    padding: 38px 0 47px;
}

.header__link {
    text-decoration: none;
    color: #696871;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.47px;

}

.header__link:hover {
    color: black;
}

.header__flex {
    display: flex;
    justify-content: space-between;
}

.header__inline-block {
    display: inline-block;
}

.header__inline-block:not(:first-of-type) {
    margin-left: 49px;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__nav-button {
    text-transform: capitalize;
    background-color: #FF7143;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: -0.531474px;
    line-height: 22px;
    font-size: 17px;
    font-weight: bold;
}

.header__nav-button:hover {
    color: #FF7143;
    background-color: #ffffff;
    border: solid 1px #FF7143;
    box-shadow: 15px 10px 10px 1px #FF7143;
    transition: 0.5s;
}

/*main*/
.skateboard-guy {
    padding: 104px 0 85px;
    display: flex;
}

.skateboard-guy__title {
    padding: 30px 0 30px;
    width: 467px;
    height: 231px;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    color: #19191B;
    letter-spacing: -2.50105px;
}

.skateboard-guy__description {
    padding-bottom: 50px;
    width: 467px;
    height: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
}

.skateboard-guy-buttons-flex {
    display: flex;
    gap: 35px;
}

.skateboard-guy__button {
    text-transform: capitalize;
    border: 1px solid #5454D4;
    color: #ffffff;
    background-color: #5454D4;
    letter-spacing: -0.531474px;
    line-height: 22px;
    font-size: 17px;
    font-weight: bold;
}

.skateboard-guy__button:hover {
    color: #5454D4;
    background-color: #ffffff;
    box-shadow: 15px 10px 10px 1px #5454D4;
    transition: 0.5s;
}

/*footer*/
.footer {
    background-color: rgba(255, 113, 67, 0.27);
    padding: 53px 0;
}

.footer__flex {
    display: flex;
    justify-content: space-between;

}

.footer__link {
    text-decoration: none;
    color: #696871;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.47px;
}

.footer__link:hover {
    color: black;

}

.footer__info {
    display: flex;
    align-items: center;
}

.footer__inline-block {
    display: inline-block;
    margin-left: 35px;
}

.Subscription {
    display: flex;
    gap: 170px;

}

.Subscription__chart {
    padding-bottom: 210px;

}

.skateboard-guy-img:hover {
    transform: rotate(50deg);
    transition: 0.2s;
}

.Subscription__info {
    width: 50%;
    padding-top: 120px;
}

.Subscription__button {
    background-color: #5454D4;
    text-transform: capitalize;
    color: #ffffff;
    border: 1px solid #5454D4;
    letter-spacing: -0.531474px;
    line-height: 22px;
    font-size: 17px;
    font-weight: bold;
}

.Subscription__button:hover {
    background-color: #ffffff;
    color: #5454D4;
    box-shadow: 15px 10px 10px 1px #7087FF;
    transition: 0.5s;
}

.Subscription__email {
    box-sizing: border-box;
    padding-left: 14px;
    width: 302px;
    height: 60px;
    border: 1px solid #7087FF;
    border-radius: 10px;
}

.Subscription__title {
    width: 556px;
    height: 57px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
    padding-bottom: 38px;
}

.Subscription-form-flex {
    display: flex;
    gap: 39px;
}

